<html>

  <head>
    <title>Christina Guo</title>
    <link href="/media/css/alpha_style.css" rel="stylesheet" type="text/css"  />
  </head>

  <body>

    <div id="page_wrapper">
      <div id="body_wrapper">

	<div id="header">
	  <div id="navigation">
	    <ul>
	      <li><a href="/alpha/">PORTFOLIO</a></li>
	      <li class="current"><a href="/alpha/about">ABOUT ME</a></li>
	      <li><a href="/alpha/contact">CONTACT</a></li>
	      <li><a href="/media/resume.pdf">RESUME</a></li>
	    </ul>
	  </div>
	</div>

	<div id="content">
	  <div class="about_left"><img src="/media/images/alpha/vintagephoto.jpg"></div>
	  <div class="about_right">
	    <p>My name is Christina Guo and I'm an 2nd year UC Berkeley student majoring in Electrical Engineering and Computer Science. My passion and experience lie in web development and design, but I am also currently interested in exploring other areas such as computer graphics and animation. In my free time, I like dabbling in photography and graphic design.
	      <p>I love collaborating with other people, and I'm always on the look out for cool projects to work on. If you have something in mind, don't hesitate to shoot me an email!</p>
	  </div>
	</div>

      </div>
    </div>

  </body>

</html>

