<html>

  <head>
    <title>Christina Guo</title>
    <link href="/media/css/alpha_style.css" rel="stylesheet" type="text/css"  />
  </head>

<body>

  <div id="page_wrapper">
      <div id="body_wrapper">

	<div id="header">
	  <div id="navigation">
	    <ul>
	      <li><a href="/alpha/">PORTFOLIO</a></li>
	      <li><a href="/alpha/about">ABOUT ME</a></li>
	      <li class="current"><a href="/alpha/contact">CONTACT</a></li>
	      <li><a href="/media/resume.pdf">RESUME</a></li>
	    </ul>
	  </div>
	</div>

	<div id="content">
	  <div id="contact">
	    <p><b>Email:</b> <a href="mailto:christinamguo@gmail.com">christinamguo [AT] gmail.com</a></p>
	    <p><b>LinkedIn: </b><a href="http://www.linkedin.com/pub/christina-guo/30/254/182">Christina Guo</a></p>
	  </div>
	</div>

      </div>
  </div>

</body>
</html>
