<html>

  <head>
    <title>Christina Guo</title>
    <link href="/media/css/alpha_style.css" rel="stylesheet" type="text/css"  />
  </head>

  <body>

    <div id="page_wrapper">
      <div id="body_wrapper">

	<div id="header">
	  <div id="navigation">
	    <ul>
	      <li><a href="/alpha/">PORTFOLIO</a></li>
	      <li><a href="/alpha/about">ABOUT ME</a></li>
	      <li><a href="/alpha/contact">CONTACT</a></li>
	      <li><a href="/media/resume.pdf">RESUME</a></li>
	    </ul>
	  </div>
	</div>

	<div id="content">
	  <img src="/media/images/alpha/cafenight.jpg" class="project_page_image">
	  <img src="/media/images/alpha/dancelogo.jpg" class="project_page_image">
	  <img src="/media/images/alpha/innodlogo.jpg" class="project_page_image">
	  <div class="project_page_title">Graphic Design</div>
	  <div class="project_page_text">
	    <div class="project_page_info">CREATED FOR  </div> various UC Berkeley student organizations<br>
	    <div class="project_page_info">USING  </div> Adobe Photoshop, Adobe Illustrator
	    <p>Although I've been playing around with Photoshop since the 7th grade, it wasn't until college that I got into graphic design. Throughout the past year, I've created logos and flyers for various student organizations around campus, including the Regents and Chancellor's Scholarship Association. This coming semester, I will be designing for HKN, the EECS honor society.</p>
	    <div class="back"><a href="/alpha/">Back to Portfolio</a></div>
	  </div>

	</div>

  </body>
</html>
