<html>

  <head>
    <title>Christina Guo</title>
    <link href="/media/css/alpha_style.css" rel="stylesheet" type="text/css"  />
  </head>

  <body>

    <div id="page_wrapper">
      <div id="body_wrapper">

	<div id="header">
	  <div id="navigation">
	    <ul>
	      <li><a href="/alpha/">PORTFOLIO</a></li>
	      <li><a href="/alpha/about">ABOUT ME</a></li>
	      <li><a href="/alpha/contact">CONTACT</a></li>
	      <li><a href="/media/resume.pdf">RESUME</a></li>
	    </ul>
	  </div>
	</div>

	<div id="content">
	  <img src="/media/images/alpha/meta4explorer.jpg" class="project_page_image">
	  <div class="project_page_title">meta4explorer</div>
	  <div class="project_page_text">
	    <div class="project_page_info">CREATED IN COLLABORATION WITH  </div> Berkeley Institute of Design<br>
	    <div class="project_page_info">DOING </div> web development and UI design<br>
	    <div class="project_page_info">USING  </div> HTML, CSS3, Python, Django, SQLite, Adobe Photoshop, pencil and paper<br>
	    <div class="project_page_info">LINK </div> Coming Soon!
	    <p>During my 2nd year of college, I worked with BID to research the ways in which computer technology could aid the product design process. Specifically, we studied the ways in which an web app could help designers come up with metaphors that they could apply to their own projects by providing a new angle through which they could view the problems they were trying to solve.</p>
	    <p>This semester, I worked on both development and design. I created features such as user accounts, the ability to save your work, and an organization system so users could have various "projects" and "views." I also headed the website design process, where I created prototypes using both pencil/paper as well as Photoshop, coded the layout with the help of my research partners, and helped run user experience tests. I will be continuing my work on this project this coming semester.</p>
	    <p>*Special thanks to my mentor who provided me with this opportunity and guidance, as well as my research partners, without whom this site would not exist.</p>
	    <div class="back"><a href="/alpha/">Back to Portfolio</a></div>
	  </div>
	</div>

  </body>
</html>
