body {
	background-color: #E8E8E8;
}

#page_wrapper {
	width: 1024px;
	margin: auto;
	font-family: Helvetica;
	color: #666666;
	font-size: 12px;
}

#header{
	margin-top: 15px;
}

#navigation {
	float: right;
	color: #808080;
}

#logo {
	float: left;
}

#navigation a  {
	color: inherit;
	text-decoration: none;
	font-family: "futura-pt", sans-serif;
	letter-spacing: 1px;
	font-size: 10px;
	font-weight: bold;
}

.nav-link {
	margin: 20px;
	display: inline;
	padding-bottom: 4px;
	float: left;
}

.nav-current {
	border-bottom: 2px solid #E65858;
	color: #E65858; 
}
#title {
	border-top: 1px solid #B0B0B0; 
	border-bottom: 1px solid #B0B0B0;
	color: #666666;
	display: inline-block;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	font-size: 24px;
	font-family: 'Oswald', sans-serif;
	margin-bottom: 30px;
}

#content {
	width: 100%;
	display: inline-block;
}

#about_left{
	width: 50%;
	float: left;
}

#about_left img {
	padding-left: 50px;
}

#about_right{
	width: 50%;
	float: right;
}

#projects{
	position: relative;
	list-style: none;
}

#projects img {
	-webkit-filter: sepia(0.3);
	filter: sepia(30%);
	-moz-filter: sepia(30%);
	-ms-filter: sepia(30%);
	-o-filter: sepia(30%);
}

#projects imgg {
	filter: sepia(100%);
	-webkit-filter: sepia(100%);
	-moz-filter: sepia(100%);
	-o-filter: sepia(100%);
	-ms-filter: sepia(100%);
}

#projects a {
	font-family: "Helvetica", sans-serif;
	font-size: 25px;
	text-decoration: none;
	color: #FFFFFF;
}

#projects li {
	position: absolute;
}

#project_container{
	position: absolute;
}

.projects_image{
	display: block;
	position: relative;
}

.rounded {
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
}

.projects_overlay {
	position: absolute;
	opacity: 0;
	background-color: #E65858;
	width: 200px;
	height: 200px;
	text-align: center;
}

.projects_overlay a {
	display: block;
	height: 100%;
}

.projects_overlay div {
	padding-top: 75px;
}

.projects_overlay span {
	margin: auto;
}

#project_overlay_1{
	top: 0px;
}

#project_overlay_2{
	top: 0px;
}

#project_overlay_3{
	top: 0px;
}

#project_overlay_4{
	top: 0px;
}

#project_overlay_5{
	top: 0px;
}

#li_1{
	position: relative;
	top: 0px;
	left: 0px;
}

#li_2{
	position: relative;
	top: 0px;
	left: 208px;
}

#li_3{
	position: relative;
	top: 0px;
	left: 416px;
}

#li_4{
	position: relative;
	top: 0px;
	left: 624px;
}

#li_5{
	position: absolute;
	top: 0px;
	left: 832px;
}

#project_title{
	
}

.project_image{
	float: left;
	width: 500px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 20px;
}

#project{
	display:inline-block;
}

#project_images{
	float:left;
	padding-top: 25px;
	width: 500px;
	padding-left: 51px;
	padding-right: 91px;
	
}

#project_description{
	display: inline;
	padding-top: 25px;
	width: 300px;
	float: left;
	padding-left: 60px;
	padding-right: 20px;
}

.project_heading{
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color: #E65858; 
}

#project ul {
	margin-left: 0px;
	padding-left: 15px;
}

#contact {
	text-align: center;
	font-size: 20px;
}

#contact div{
	margin-top: 15px; 
	padding-bottom: 25px;
}

#contact a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
	background-color:#E65858;
	padding: 10px;
	margin-left: 10px;
}