<!DOCTYPE html>
<html>
	<head>
		<title>Christina Guo</title>
		<!--favicon here-->
		<link rel="stylesheet" type="text/css" href="../media/css/style.css">
	</head>
	<body>
		<div id="page_wrapper">
			<div id="header">
				<div id="logo">
					<img src="../media/images/logo.png">
				</div>
				<div id="navigation">
					<div class="nav-link nav-current"><a href="/about">ABOUT ME</a></div>
					<div class="nav-link"><a href="/projects">PROJECTS</a></div>
					<div class="nav-link"><a href="/resume.pdf">RESUME</a></div>
					<div class="nav-link"><a href="/contact">CONTACT</a></div>
				</div>
			</div>
			<div id="content">
				{% block content %}{% endblock %}
			</div>
		</div>
	</body>
</html>