{% extends "gamma/base.html" %}

{% block title %}
CONTACT
{% endblock %}

{% block nav %}
<div id="nav-about" class="nav-link"><a href="/about">ABOUT ME</a></div>
<div id="nav-projects" class="nav-link"><a href="/projects">PROJECTS</a></div>
<div id="nav-resume" class="nav-link"><a href="/resume.pdf">RESUME</a></div>
<div id="nav-contact" class="nav-link nav-current"><a href="/contact">CONTACT</a></div>
{% endblock %}

{% block content %}
<div id="contact">
	<div>
		christinaguo [AT] gmail.com
	</div>
	<div>
		<a class="button" href="http://www.linkedin.com/pub/christina-guo/30/254/182">LinkedIn</a>
		<a class="button" href="https://github.com/christinaguo">GitHub</a>
	</div>
</div>
{% endblock %}