{% extends "gamma/base.html" %}

{% block nav %}
<div id="nav-projects" class="nav-link nav-current"><a href="/projects">PROJECTS</a></div>
<div id="nav-about" class="nav-link"><a href="/about">ABOUT ME</a></div>
<div id="nav-resume" class="nav-link"><a href="/media/resume.pdf">RESUME</a></div>
<div id="nav-contact" class="nav-link"><a href="/contact">CONTACT</a></div>
{% endblock %}

{% block title %}
PROJECTS
{% endblock %}

{% block content %}

<ul id="projects">
{% for project in project_list%}
	<li id="li_{{project.priority}}">
		<div class="projects_image" id="project_image_{{project.priority}}">
			<a href="/projects/{{ project.title.lower.split|join:"" }}">
				<img class="rounded" src="{{ project.photo_thumbnail_link }}">
			</a>
		</div>
		<div class="rounded projects_overlay" id="project_overlay_{{project.priority}}">
			<a class="project-link" href="/projects/{{ project.title.lower.split|join:"" }}">
				{% if project.title|length > 12 %}
					<div><span>
					{% for word in project.title.split %}
						{{word}}<br>
					{% endfor %}
					</span></div>
				{% else %}
					<div><span>{{ project.title }}</span></div>
				{% endif %}
			</a>
		</div>
	</li>
	
{% endfor %}
</ul>

{% endblock %}