{% extends "gamma/base.html" %}

{% block content %}

<ul id="projects">
{% for project in project_list%}
	<li id="li_{{project.priority}}">
		<div class="projects_image" id="project_image_{{project.priority}}">
			<a href="/projects/{{ project.title.lower.split|join:"" }}">
				<img class="rounded" src="{{ project.photo_thumbnail_link }}">
			</a>
		</div>
		<div class="rounded projects_overlay" id="project_overlay_{{project.priority}}">
			<a href="/projects/{{ project.title.lower.split|join:"" }}">
				<div><span>{{ project.title }}</span></div>
			</a>
		</div>
	</li>
	
{% endfor %}
</ul>

{% endblock %}